


<link rel="stylesheet" href="/css/user_profile.css">
<h1>finally it shows the profile and layouts</h1>
<h1><%=user.email %></h1>
<h1><%= user.password%></h1>
<h1><button type="submit">log-out</button></h1>
