body
{
    background: #efefef;
    box-sizing: border-box;
}
*{
    margin: 0;
    padding: 0;
    font-family: 'poppins',sans-serif;
}
.edit-profile
{
    width: 97%;
    
    padding: 30px;
    display: flex;
    justify-content: space-around;
}
#left-content
{
    display: flex;
    flex-direction: column;
    width: 20%;
    height: 213px;
    background: #fff;
     
}
.left-content-div
{
    border-bottom: 1px solid black;
    display: flex;
    justify-content: space-between;
    margin: 10px 0px;
    padding-right: 3px;
    padding-left: 3px ;
}
.left-content-icon
{
    font-size: 30px;
}
.left-content-text a
{
    text-decoration: none;
    color: #626262;
    font-size: 25px;
}
.left-content-text
{
    display: flex;
    align-items: center;
}
// lets design the right content
#right-content
{
    width: 60%;
    background: #fff;
    padding: 20px;
    display: flex;
    flex-direction: column;
}
#edit-profile-text
{
    margin-bottom: 20px;
}

#edit-profile-text span
{
    color: teal;
    font-size: 20px;
    font-weight: 700;
}
.image-form
{
    display: flex;
    margin-bottom: 30px ;
}
.avatar-img
{
    border: 1px solid black;
    width: 123px;
    height: 130px;
    margin-right: 10px;
}
.avatar-img img
{
    width: 100%;
    height: 100%;
}
.add-file
{
    display: flex;
    align-items: end;
}
.acc-info
{
    margin-bottom: 20px;
}
.acc-info span
{
    font-size: 20px;
   font-weight: 700;
}
 
.user-details-span2 input
{
    width: 200px;
    height: 20px;
    border: 2px solid black;
    outline: none;
}
.user-details
{
    margin: 20px 0px;
    display: flex;
    justify-content: space-around;
}
.user-details-span2 textarea
{
    resize: none;
    border: 2px solid black;
}
.update-button
{
    display: flex;
    justify-content: center;
}
.update-button span button
{
    width: 120px;
    height: 35px;
    background: black;
    color: white;
    transition: 0.5s;
}
.update-button span button:hover
{
    background: cyan;
    color: black;
}